
		<div class='product1 product-block' layout="row">
			<div flex=2>
				<div layout="column" class="thumbnails-container">	

					<div class="thumbnail-wrapper" >
											<img src="newImages/erji2.png"  class="thumbnails"/>
											<div > 
												<img src="newImages/erji2.png"  class="big-pic-img"/>
											</div>
										</div>
					<div class="thumbnail-wrapper" >
						<img src="newImages/erji3.png"  class="thumbnails"/>
						<div > 
							<img src="newImages/erji3.png"  class="big-pic-img"/>
						</div>
					</div>
					<div class="thumbnail-wrapper" >
						<img src="newImages/erji4.png"  class="thumbnails"/>
						<div > 
							<img src="newImages/erji4.png"  class="big-pic-img"/>
						</div>
					</div>
				</div>
			</div>
			<div flex=9 class="product-container">
				<img src='newImages/789A6692.jpg'/ class='product-img1'>
				<div class= "buy-btn-section" layout="column" ng-click="toggleRight()">
					<span flex>E0320 $100.00</span>
					<button lex type="button" class="btn btn-danger buy-btn" ng-click='addChart("product1")'>BUY NOW</button>
				</div>
			</div>
		</div>
		<div class='product2 product-block'>			
			<div class="about-section" id="about">
				<div class="container">
			
						<div class="about-grids  block-offset-120">
							<div class="col-md-6 about-grid">
								<h4>Latest Innovations</h4>
								<ul>
									<li>Full frequency range and high fidelity performances.</li>
									<li>Smart in-line control compatible with iOS and Android.</li>
									<li>Metal Composite Diaphragm.</li>
									<li>Egornomically designed earbuds.</li>
									<li>Patented structure design with balanced armature and dynamic drivers</li>

								</ul>
							</div>
							<div class="col-md-6 about-grid">
								<img src='newImages/EO320_7.png' width="450" height="281" />
							</div>

							<div class="clearfix"></div>
						</div>
				</div>
			</div>
		</div>
	
		<div class='product3 product-block'>
			<div class="about-section" id="about">
				<div class="container ">
		
						<div class="about-grids block-offset-120">
							<div class="col-md-6 about-grid">
								<img src='newImages/EO320_8.jpg' width="450" height="281" />
							</div>
							<div class="col-md-6 about-grid">
								<h4>Product Specifications</h4>
								<table>
								<tr><td>Type</td><td>In-Ear</td></tr>
								<tr><td>Remote&mic</td><td>Yes</td></tr>
								<tr><td>Color</td><td>Gold</td></tr>
								<tr><td>Weight</td><td>15g</td></tr>
								<tr><td>Frequency Response</td><td>20-20,000Hz</td></tr>
								<tr><td>Sensitivity</td><td>98dB</td></tr>
								<tr><td>Plug Type</td><td>3.5mm gold plated</td></tr>
								<tr><td>Speaker impedance:</td><td>32O</td></tr>
								</table>
							</div>
							<div class="clearfix"></div>
						</div>
				</div>
			</div>
		</div>