	<div layout="column" height='100px' flex>
	  <div flex class= "header">

        <div class="container">
            <div class="row">
              <div class="col-md-12">
                 <div class="header-left">
                     <div class="logo">
                        <a href="index.html">
                            <img src="newImages\Logo\LOGO.png" alt="" class="header-logo"/>
                        </a>
                     </div>
                     <div class="menu">
                            <ul class="nav" id="nav">
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="team.html">Team</a></li>
                                <li><a href="experiance.html">Events</a></li>
                                <li><a href="experiance.html">Experiance</a></li>
                                <li><a href="shop.html">Company</a></li>
                                <li><a href="contact.html">Contact</a></li>                             
                                <div class="clear"></div>
                            </ul>
                    </div>                          
                    <div class="clear"></div>
                </div>
               
          </div>
 
        </div>
    </div>
	  </div>